<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/data/question/create">
     Subject <input name="subject"><br>
      Question:<input name="question"><br>
      <input name="options"><br>
      <input name="options"><br>
      <input name="options"><br>
      <input name="options"><br>
      <input name="correct" type="number">
      <input type="submit">
  </form>
  </body>
</html>
